      /* Font and background color applied to the entire website */
html { background-color: transparent;
font-family: fantasy;}
        /* h1 tag Bell's Treats */
.bell {
  color: purple;
  background-color: transparent;
  text-align: left;
  text-indent: 575px; 
    }

        /* Styling of all H3 tags */
h3{
color: purple;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

        /* styling of all h1 tags */
h1{
  color: black;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}

              /* Hero image section  */
.hero-image {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pictures/tray.jpg");}
.hero-text {text-align: center;
         background-image: url("pictures/tray.jpg");  
             height: 250px;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             position: relative;
}
        /* Nav bar styling */

#nav ul {list-style-type: none;
  /*takes out the bullet points  */
  position: fixed;
  top: 0;
  width: 90%;
  /* fixes the nav bar to the top of the page */}
#nav ul li {display: inline;
   padding: 5px;
   float: right; 
/*adds extra space between each list item */
  background-color: transparent;}
 
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline dotted;
}

          /* styling of order button */
.order {
background-color: transparent;
  color: purple;
    text-align: center;

}

          /* About us section on home page */
.about {
  text-align: center;
  color: purple;
  text-decoration: none;
}
.pictures img{
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
/*puts a rounded border around the image and places it in the center */
}

      /* formatting images on about me page */
.us img {
        border-radius: 15px;
      max-width: 50%;
        height: auto;
       display: block;
      margin-left: auto;
       margin-right: auto;
}

              /*  Menu page styling */
li img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.column {
  float: left;
  width: 25%;
}
.column img{
border-radius: 15px;
  width: 100px;
  height: 100px;
}
.row:after {
content: "";
display: table;
  clear: both;
  
}
.frosting {
text-align: center;
  font-weight: bold ;
}




/* Contact page styling */

input[type=text] {
  width: 100%;
 padding: 12px 20px;
/*   margin: 8px 0; */
  box-sizing: border-box;
  }
form {
  display: inline-block;
}
/* footer */
.row2 { 
  list-style-type: none;
  text-align: center;
}
.row2 li {
  display: inline;
}
 .footerimages {
  width: 50px;
  height: 50px;
  border-radius: 80px;
  padding: 15px;  
 } 


