      /* Font and background color applied to the entire website */
html { background-color: #06F0A6;
  color: black;
font-family: fantasy;}
        /* h1 tag Bell's Treats */
.bell {
    background-color: #06F0A6;
  text-align: left;
  text-indent: 575px; 
    }

        /* Styling of all H3 tags */
h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

        /* styling of all h1 tags */
h1{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

              /* Hero image section  */
.hero-image {background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pictures/tray.jpg");}
.hero-text {text-align: center;
         background-image: url("pictures/tray.jpg");  
             height: 400px;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             position: relative;
}
           /* Nav bar styling */

#nav ul {list-style-type: none;
  /*takes out the bullet points  */
  position: fixed;
  top: 0;
  width: 90%;
  /* fixes the nav bar to the top of the page */}
#nav ul li {
   padding: 5px;
   float: right; 
/*adds extra space between each list item */
  background-color: #06F0A6;}
 
a:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline dotted;
}

          /* styling of order button */
.order {
background-color: transparent;
      text-align: center;
      }

          /* About us section on home page */
.about {
  text-align: center;
  text-decoration: none;
}
.pictures img{
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: fit-content;
/*puts a rounded border around the image and places it in the center */
}

      /* formatting images on about me page */
.us img {
        border-radius: 15px;
      max-width: 50%;
        height: auto;
       display: block;
      margin-left: auto;
       margin-right: auto;
}

              /*  Menu page styling */
  

li img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.column {
  float: left;
  width: 50%;
  column-gap: 45px;
}
.column img{
border-radius: 15px;
  width: 100px;
  height: 100px;
}
.row:after {
  content: "";
  display: table;
    clear: both;
    }

.frosting {
text-align: center;
  font-weight: bold;
}




/* Contact page styling */
#form {
align-items: center;
margin-left: 200px;
margin-right: 300px;
}

form .contact {
width: 50%;
  
 }
input[type=text] {
  width: 50%;
  padding: 12px 20px;
    }
  
  .contactus {
    text-align: center;
    ;
  }

/* footer styling*/
.row2 { 
  list-style-type: none;
  text-align: center;
}
.row2 li {
  display: inline;
}
 .footerimages {
  width: 50px;
  height: 50px;
  border-radius: 80px;
  padding: 15px;  
 } 


